[2015-04-01 19:23] colorful-tones opened #1 "Feature request: Option to set default global for posts"
If a post does not have any parts assigned to it then have a repeatable field group on plugin's settings page to allow user to set default parts to display.

[2015-04-01 19:28] colorful-tones commented on #1
Bonus points if the setting is optional
![selfie-0](http://i.imgur.com/0p5SUHn.gif)

[2015-05-26 15:22] jazzsequence commented on #1
This was added in 5b45c65cec6e84e91e5fb36adfe464a2ee63fe4f

[2015-05-26 15:22] #1 closed, assigned to nobody

[2015-06-12 13:45] colorful-tones opened #2 "Option to enqueue scripts if needed per part"
Wondering if we can pass an optional argument through wds_page_builder_load_parts() to either of the following places that would allow user to wp_register_script() in their theme's functions.php, and then pass the argument to enqueue for certain part(s):
- https://github.com/WebDevStudios/WDS-Simple-Page-Builder/blob/master/inc/functions.php#L74
- https://github.com/WebDevStudios/WDS-Simple-Page-B

[2015-06-12 13:47] colorful-tones commented on #2
Actually, this would not work, because this is assuming you already know which template the parts are being loaded on, therefore you could just enqueue conditionally based on that in functions.php

[2015-06-12 13:47] #2 closed, assigned to nobody

[2015-06-19 15:04] colorful-tones opened #3 "Saved Layouts - cannot remove a saved layout after creating"
I see the 'Remove Layout' button, but appears inactive even though I created and saved a new 'Saved Layout', therefore I can not actually remove the layout.

[2015-06-19 22:13] jazzsequence commented on #3
Yeah, you can remove additional layouts, but once you add one, you can't get rid of it. It doesn't help that the name field is required otherwise you could just blank out the fields...I might just remove the required attribute for the short term.

[2015-06-30 17:54] jazzsequence opened #5 "Saved Layouts - Blank templates added on save"

[2015-07-01 17:39] jtsternberg opened #6 "Allow code-configuration of per-cpt defaults"
For devs to pre-define some defaults w/o having to setup in every site/db.

[2015-07-01 17:49] jazzsequence commented on #5
probably a CMB2 thing

[2015-07-01 17:50] jazzsequence commented on #3
maybe a CMB2 thing?

[2015-07-02 21:14] jazzsequence commented on #6
:boom: https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Registering-Layouts

Also, layouts can be created one-time without saving them ([documentation here](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Template-Tags#wds_page_builder_load_parts-parts---))

[code]

Added in 1.3.

[2015-07-02 21:14] #6 closed, assigned to nobody

[2015-07-02 21:16] jazzsequence opened #7 "unregister layouts"
We have a way to register layouts, and layouts get updated if they are changed, but we should be able to unregister layouts, too. Something like:

[code]

...or...

[code]

^^ which would unregister all layouts.

[2015-07-03 04:40] jtsternberg commented on #6
:boom: indeed!

[2015-07-06 18:10] jazzsequence commented on #7
added in 1918d4cd4279edc8bf6ae1d5ac6f94cc90424a60

[2015-07-06 18:10] #7 closed, assigned to nobody

[2015-07-07 17:42] scottwyden opened #8 "github submodules don't exist in zips :("
On a fresh instance on GoDaddy's new "Pro" Managed Host (test server) I get the following upon trying to activate:

Warning: require_once(/home/content/p3pnexwpnas07_data03/82/2695782/html/wp-content/plugins/WDS-Simple-Page-Builder//inc/cmb2/init.php): failed to open stream: No such file or directory in /home/content/p3pnexwpnas07_data03/82/2695782/html/wp-content/plugins/WDS-Simple-Page-Builder/w

[2015-07-07 18:20] jazzsequence commented on #8
Hey @scottwyden
Did you clone the repo or did you download the zip file? If you cloned, you might not be getting the cmb2 submodule.

[2015-07-07 18:22] scottwyden commented on #8
I downloaded it from here, not a clone.

[2015-07-07 18:34] jazzsequence commented on #8
do you have a `inc/cmb2` folder?

[2015-07-07 18:39] jtsternberg commented on #8
Instead of downloading (github doesn't include submodules when downloading), you should recursively clone this repo (`git clone --recursive https://github.com/WebDevStudios/WDS-Simple-Page-Builder.git`)

[2015-07-07 18:41] jazzsequence commented on #8
@jtsternberg really? it doesn't? I thought it did. :/

[2015-07-07 18:44] jazzsequence commented on #8
...that could be why it hasn't been picked up by the WP.org repo yet :'(

[2015-07-07 18:44] scottwyden commented on #8
inc/cmb2 folder does exist, but nothing is inside of it.

[2015-07-07 18:55] jazzsequence commented on #8
@scottwyden @jtsternberg is right. I just downloaded the archive and /inc/cmb2 is empty. You're missing a crucial component of the plugin because GitHub isn't including the submodule in the zip files. I'll need to manage the CMB2 stuff manually and not use a submodule.

[2015-07-07 19:00] jazzsequence commented on #8
@scottwyden try redownloading now

[2015-07-07 19:01] jtsternberg commented on #8
@jazzsequence for WDS Twitter Widget, I use a grunt task to compile a .zip file to be used in the repo (and still use submodules). https://github.com/WebDevStudios/WDS-Twitter-Widget

[2015-07-07 19:22] scottwyden commented on #8
Unfortunately I'm still getting an error.

Warning: require_once(/home/content/p3pnexwpnas07_data03/82/2695782/html/wp-content/plugins/WDS-Simple-Page-Builder//inc/cmb2/init.php): failed to open stream: No such file or directory in /home/content/p3pnexwpnas07_data03/82/2695782/html/wp-content/plugins/WDS-Simple-Page-Builder/wds-simple-page-builder.php on line 37

Fatal error: require_once(): Faile

[2015-07-07 19:25] jazzsequence commented on #8
@scottwyden yeah, sorry, that didn't re-add the directory. just pushed it up and it should work now. :S

[2015-07-07 19:33] scottwyden commented on #8
:-) Trying

[2015-07-07 19:42] scottwyden commented on #8
All good now! Thanks guys.

[2015-07-07 19:57] jazzsequence commented on #8
woot! :)

[2015-07-07 19:57] #8 closed, assigned to nobody

[2015-07-07 21:38] #5 closed, assigned to nobody

[2015-07-13 16:08] jazzsequence opened #9 "saved_page_builder_layout_exists check"
add a check for `saved_page_builder_layout_exists`, e.g.:

[code]

[2015-07-13 16:24] #9 closed, assigned to jazzsequence

[2015-07-14 15:16] colorful-tones opened #10 "Display 'Layout Name' as accordion heading title for Saved Layouts"
If you have multiple Saved Layouts, and all their accordion items are expanded the screen gets long. However, if you collapse them all to try and simplify the ui, and visual clutter then all you see is: "Layout 1", "Layout 2", "Layout 3", etc. (see screenshot https://www.dropbox.com/s/oz64gxgjx078tph/Screenshot%202015-07-14%2011.14.08.png?dl=0)

Would be nice to use the designated Layout Name fiel

[2015-07-14 15:20] colorful-tones commented on #10
Also, I noticed that collapsing/expanding does not persist. So if you collapse some in order to try and simplify screen real-estate, but then update (click 'Save') an option you'll get them all expanded again :panda_face:

[2015-07-14 17:33] jazzsequence commented on #10
Yeah, I took a stab at that (changing the titles) briefly and it failed miserably, but I might swing back to it at some point.

[2015-07-15 18:23] jazzsequence opened #11 "add `page_builder_class` function"
would work like `post_class` does in WordPress core. echoes a generic class (e.g. `pagebuilder-part`) and takes an optional string parameter to pass specific classes. would be used in markup when building containers/wrappers, e.g.

[code]

which would display as:

[code]

[2015-07-15 18:29] gregrickaby opened #12 "Options Filter/Function"
As we discussed on Skype, would be super cool if there was an options filter. Much like how we use [wp_nav_menu](http://codex.wordpress.org/Function_Reference/wp_nav_menu#Usage)

[code]

[2015-07-15 18:39] jazzsequence commented on #12
If this is a sort of initial setup-type function, I'm thinking it would work similar to [`register_page_builder_layout`](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Registering-Layouts#register_page_builder_layout-layout_name-parts_array-user_editable-), i.e.:

[code]

I also think having some way to hide or disable options that you're registering this way would be necessary (the

[2015-07-15 18:43] jazzsequence opened #13 "add generic wrapper function for all the things - `wds_do_page_builder()`"
this would be different than [`wds_page_builder_load_parts`](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/blob/master/inc/template-tags.php#L163-L184) but could potentially use that function. usage would look something like this:

[code]

[2015-07-15 18:46] jazzsequence commented on #13
maybe find a better name.

[2015-07-21 18:12] jazzsequence commented on #11
added in 303459aca462c721db7b57ff9e5aab47ef9edac0

[2015-07-21 18:12] #11 closed, assigned to nobody

[2015-07-21 22:39] jazzsequence commented on #13
new function is [`wds_page_builder_wrap`](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Template-Tags#wds_page_builder_wrap-container---class---layout---)

[2015-07-22 19:08] jazzsequence commented on #13
tested, refactored, tested a lot more, working now. :boom:

[2015-07-22 19:08] #13 closed, assigned to nobody

[2015-07-22 19:18] jazzsequence commented on #3
Sort of fixed in 6333021bdb0a863aac11319af43bb57d78ec16e1

Removed the required attribute, anyway.

[2015-07-22 19:18] #3 closed, assigned to nobody

[2015-07-23 16:17] jazzsequence commented on #12
added in 1bf82fb815214609f7eb4311733b8bf80137db46

also added support for `add_theme_support`

[2015-07-23 16:17] #12 closed, assigned to nobody

[2015-07-24 13:57] jazzsequence opened #15 "Load template parts from inside a plugin"
It would be cool if a plugin could add template parts to the list of template parts PB uses, so all functionality could be contained inside the plugin. Ultimately, this would prevent parts of the page from being broken if there was a badly written template part that was dependant upon a plugin that was disabled.

[2015-07-24 18:56] lmartins opened #16 "Parts not being loaded into layout"
I've been trying to implement this plugin in one of my sites but im struggling a bit to get it working.

Im registering a layout like this:

[code]

And calling it from a page template like this:

[code]

Note this is twigs syntax for:

[code]

In the dashboard SPB seems to be aware of my registered layout:
https://www.dropbox.com/s/twtmw8icd5tmr3x/Screenshot%202015-07-24%2019.54.06.png?dl=0

But

[2015-07-24 18:58] jazzsequence commented on #16
if you're using `register_page_builder_layout`, you don't add the full part path, you'd do:

[code]

...and that is assuming that both those template parts are in the same directory. Currently the plugin doesn't support parts in different directories (though that is something I want to try to figure out at some point).

after that, your `do_action( 'wds_page_builder_load_parts', 'events-layout' )`

[2015-07-24 19:06] lmartins commented on #16
Hey Chris, thank you for your message. Im finally giving a got WDS after our conversation on your blog.
When you say "assuming both templates are in the same directory" you mean in relation to the template that is calling them?

[2015-07-24 19:12] lmartins commented on #16
Btw, I've just pulled everything to the root folder of this theme, refreshed a few times but still no luck. For some reason it doesn't pull the parts names for any of the selectors on the plugin.

[2015-07-24 19:14] jazzsequence commented on #16
No, I mean PB assumes that all your template parts are in the directory that's set on the options page (default is `/parts`), so your theme directory structure might be like:

[code]

Inside your `/parts` directory would be all your template parts. PB also expects them to have a prefix that matches the one set on the options page (default is `part-`, so you'd have:

[code]

does that make sense?

[2015-07-24 19:21] lmartins commented on #16
Yes, makes total sense, and yeah I missed that folder part.
After moving my files to the proper folder, I now have

parts/
   part-events-calendar.php
   part-events-loop.php

Which match what is defined on the plugin settings.

When I get to the layouts portion though, they still don't give output anything on the selects:
https://www.dropbox.com/s/l12894r2ibbwva6/Screenshot%202015-07-24%2020.18.0

[2015-07-24 19:43] jazzsequence commented on #16
The template parts that show up in that dropdown should match whatever files are in the template parts directory (defined in the options) and with the parts prefix (defined in the options), so if your options were left at the default, and those two template parts are in the `/parts` directory, then you _should_ have at least 2 items, Events Calendar and Events Loop.

[2015-07-25 09:02] lmartins commented on #16
Chris, figured out what was going on, and its actually quite simple.
I was under the impression SPB would support child-themes which seems not to be the case. I had my parts published on the parent theme, which for my workflow makes more sense. Once I put those files on the child theme they immediately popped in onto SPB settings. Maybe something that could be improved for future releases.

One as

[2015-07-25 10:07] lmartins opened #17 "Interface wastes a lot of space"
Im not sure this is related to this plugin directly or CMB2, either way I was wondering if this is something you would be welcoming a PR to improve things a little.

Attached bellow is a screenshot of how much space could be spared, probably making the interface just a bit more intuitive in the process.

![slice 1](https://cloud.githubusercontent.com/assets/151981/8888993/0c7aaa20-32bd-11e5-943e-e

[2015-07-25 15:40] jazzsequence commented on #17
Yeah, we're pretty much using stock CMB2 CSS. I'd absolutely welcome a PR if you wanted to have a go at cleaning it up. :)

[2015-07-25 15:44] jazzsequence commented on #16
Yeah, I'm using `get_stylesheet_directory` instead of `get_template_directory`. I could, I suppose, use template directory, but it seems to make sense to use the child theme rather than the parent theme. I dunno, there wasn't a huge amount of hand-wringing over it. I could go either way, TBH.

Not sure what's up with the global parts. It could be something dumb like an instance where I'm using `ge

[2015-07-25 17:14] lmartins commented on #16
Considering that the default behaviour of `get_template_part` is looking for the parts with the following order:

wp-content/themes/twentytenchild/loop-index.php
wp-content/themes/twentyten/loop-index.php
wp-content/themes/twentytenchild/loop.php
wp-content/themes/twentyten/loop.php

It would probably make sense the plugin to behave similarly. For my use case would be very useful.

[2015-07-25 17:22] lmartins commented on #17
I'll have a go at it. Im very much interested in using your library, I might as well try to improve this ;)
Maybe an opportunity to move from ACF to CMB2 also, we will see.

[2015-07-25 19:31] jazzsequence commented on #16
Yeah, but _s uses the `/template-parts/` directory for all of those...

I guess how I feel about the parent/child theme thing is that if you're doing these sorts of customizations, probably you should be doing them in the child theme _anyway_ and using Page Builder doesn't necessarily mean you aren't also using `get_template_part`. In the last couple projects we've used this plugin on, we've had a

[2015-07-25 19:31] #16 closed, assigned to nobody

[2015-07-25 19:34] jazzsequence opened #18 "collapsing/expanding does not persist"
Originally reported by @colorful-tones in #10

[2015-07-25 19:34] jazzsequence commented on #10
Creating a separate ticket for the collapsing/expanding thing. #18

[2015-07-25 19:35] jazzsequence commented on #17
#18 is somewhat related

[2015-07-25 19:37] jazzsequence commented on #17
CMB is pretty well documented but it's always lacked drag and drop support. I'm sure if you get that part working there will be a lot of people who are eternally grateful :laughing:

[2015-07-26 11:07] lmartins commented on #17
Ok, i'll have to study CMB2 library because it seems the layout shown on Simple Page Builder is pretty much the default for CMB2.

[2015-07-26 11:12] lmartins commented on #16
I see your point, and its pretty fair to say that I still need to get more experience on using SPB to be able to provide solid feedback. Thank you for you clarification here though.
Cheers.

[2015-07-27 09:47] lmartins commented on #16
Hi @jazzsequence,

I've noticed another problem, when using SPB in a child theme.
As said above, for SPB to recognise my template parts I need to have them in the child-theme, but here's the catch, if the template that is calling those parts is on the parent theme, on the front-end those parts will still be loaded from the parent theme.

Perhaps a simple scheme will be useful to explain what's goi

[2015-07-27 14:15] jazzsequence commented on #16
I'm not sure I understand why you would put the page builder action in the parent theme and not the child theme. Isn't the point of child themes to take a parent theme and add unique elements to it that override that of the parent? In that case, wouldn't you want to have the page builder action in the child theme, to use template parts that are in the child theme? Like I said before, I can totally

[2015-07-28 14:37] lmartins commented on #16
Hi Chris,

Sorry for all the trouble about this.
I do work quite a lot with parent/child themes, I use a parent theme as a framework of sorts. But I can be using it incorrectly.

Here's my use case. Whenever I have a structure I use without changes on every or most sites, that structure (template file) goes for the parent theme.  Let's say the `archive.php` file.  In that scenario, I only override

[2015-07-28 19:26] jtsternberg opened #19 "Allow registering (repeatable group) fields to be loaded into or available to a template part"
Example UI:
![homepage-custom-content](https://cloud.githubusercontent.com/assets/1098900/8941304/cb6b028c-353c-11e5-9e90-b3b88a1a42a2.jpg)
But below 'Content Package Tag' would be the template part dropdown selector.

The data could be made available to the template part via a template tag like `get_page_builder_layout_field( 'package_tag' )`

[2015-07-28 20:06] jtsternberg opened #20 "Do not conditionally load init.php based on CMB2_LOADED."
By wrapping in the CMB2_LOADED check you are short-circuiting CMB2's system for ensuring the newest version is loaded. https://github.com/WebDevStudios/WDS-Simple-Page-Builder/blob/master/wds-simple-page-builder.php#L36-L38
the check is not needed and will provide a bad precedent for other devs who use this lib as an example to follow.

[2015-07-28 20:37] jazzsequence commented on #20
Fixed in 7ff33858cfc5c516c4682d941ccd6abb13795e77

Will be part of the 1.6 update

[2015-07-28 20:37] #20 closed, assigned to nobody

[2015-07-28 20:37] jtsternberg commented on #20
:thumbsup:

[2015-07-28 20:45] jazzsequence commented on #19
I might need to pick your brain about exactly what you're thinking. I think I have some ideas but want to work through what the end result would look/act like.

[2015-07-28 20:55] jtsternberg commented on #19
Sounds good. It looks like we might need this for a project, so will be a good time to see if it makes sense to contribute back here. When we get to that point, we can have a chat (unless you wanted to start earlier for some reason).

[2015-07-28 20:56] jazzsequence commented on #16
Yes, but Page Builder will _always_^ look in the folder that you defined as the one holding your template parts. So it's not exactly the same and it's not intended to be a direct replacement. :)

^ - _unless you've filtered the directory it's looking in. ([documentation](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Hooks#wds_page_builder_parts_directory))

This needs to be address

[2015-07-28 21:00] jazzsequence commented on #16
Also, don't be afraid to call me on this stuff. :) I built this with very specific use cases in mind and obviously as it gets used more by more people, new use cases will crop up that we'll need to address. Supporting multiple directories (even just between a parent and child) adds a level of complexity that I hadn't anticipated. I'm not unwilling to change things, I just want to make sure when ne

[2015-07-28 21:03] jazzsequence opened #21 "Parent theme loads parts from parent"
Brought up in #16. Currently parent theme will load parts from the parent theme but the part _names_ from the child.

[2015-07-28 21:05] jazzsequence opened #22 "Child theme loads parts from parent and child"
Currently child theme only loads parts from the child theme. Should array_merge that list with parts from the parent, too, but will need to tread carefully.

First reported in #16

Filing this as an _enhancement_ because the current functionality works as expected (child loads parts from the child), but it could be made _better_ if there were parts in the parent that we also wanted to use.

[2015-07-28 21:09] jazzsequence commented on #19
It's unlikely that I'll get to it anytime soon since we _don't_ need that currently for what we're working on. Would love to see what you come up with tho, if you want to have a go with it. :)

[2015-07-30 08:11] lmartins commented on #16
Hi Chris, thank you so much for your feedback and willingness to help.
With the two use cases you've mention need to be addressed I think it will be pretty much perfect in this regard. Looking forward for it.

Thanks again.

[2015-07-30 16:39] jazzsequence opened #23 "Global template parts are empty"
Dropdown isn't displaying at all...maybe being removed with js?

![page_builder_options_ _roadkill_ _wordpress](https://cloud.githubusercontent.com/assets/991511/8989109/42868ff6-36a7-11e5-8539-10247ee8a146.png)

[2015-07-30 17:23] jazzsequence commented on #21
Found the issue, fixed in 31ec4a3b8a3e091983ddffbeeb593429811bbf2b
`get_stylesheet_directory` is used in `options.php` but when we check the existence of the file, we're using `get_template_directory`. fix the inconsistency so we're always looking in the parent by default

[2015-07-30 17:23] #21 closed, assigned to jazzsequence

[2015-07-30 17:25] #23 closed, assigned to jazzsequence

[2015-07-30 22:38] jazzsequence opened #24 "More hooks for the new stuff"
@bradp reminded me today that hooks are good because they don't break things if the function doesn't exist.

So add new action hooks for all the new functions that have been added.

[2015-08-04 22:10] jtsternberg commented on #19
We've begun work in this branch: https://github.com/WebDevStudios/WDS-Simple-Page-Builder/tree/template-part-data-fields

[2015-08-05 00:52] jazzsequence commented on #19
Nooice!

[2015-08-05 14:15] JayWood commented on #19
I believe this is good to go, thanks in no small part to @jtsternberg Spent hours trying to formulate a plan and he just ninja's the thing.

So I went in and documented the methods and updated the readme files, versioning, etc... We can chat about the additions at any time, just ping me or justin.

[2015-08-05 15:26] JayWood commented on #19
An example filter using the new additions:

[code]

[2015-08-05 16:19] jtsternberg commented on #19
This is not QUITE ready to merge. @briannaorg is working on some UI/UX improvements so that it is more clear that the fields are associated to the template part.

IN the actual template part, this is the helper function to pull that part-specific data out:

[code]

If you wanted to pull another template-part's data, you would use:

[code]

[2015-08-05 17:48] jtsternberg commented on #15
We should look to BuddyPress for prior art.

[2015-08-05 17:48] jazzsequence opened #25 "Save revisions of settings"
@blobaugh Suggested the idea of saving revisions of PB settings and layouts so if something gets messed up, the user (or the developer/admin/whatever) can roll back to the last good settings

[2015-08-05 17:49] jazzsequence commented on #25
https://wordpress.org/plugins/wp-post-meta-revisions/

[2015-08-05 17:55] jtsternberg commented on #17
FYI, we're working on an API to allow additional field registration for parts (https://github.com/WebDevStudios/WDS-Simple-Page-Builder/issues/19#issuecomment-128056626). @briannaorg is working on some UI/UX updates for that. I'm not sure how much we can change the UI without breaking the additional fields functionality and styling for those additional fields. Something to keep in mind.

[2015-08-05 18:33] lmartins commented on #17
Thank you @jtsternberg
I do get this has a lot of implications and far from straightforward. Please take it as a suggestion more than a complaint ;)

Im closing this for now and maybe reopen when Im able to provide a more useful contribution.

About the new functionality being introduced with https://github.com/WebDevStudios/WDS-Simple-Page-Builder/issues/19, all I can say is WOW, this adds a lot

[2015-08-05 18:33] #17 closed, assigned to nobody

[2015-08-05 20:47] bradp commented on #19
Two quick bugs for yall.

Bug 1:
If adding or moving a template part to where a part that has fields is, the fields do not move, but stay in the location of the existing part.
![error1](https://cloud.githubusercontent.com/assets/66798/9097404/0ce0798e-3b89-11e5-82a1-1d9c9447df8c.gif)

Bug 2:
If the first template part added to a page has fields, all of the next parts will also have the same fields

[2015-08-05 21:09] jtsternberg commented on #19
@bradp should be good w/ last push.

[2015-08-05 21:13] bradp commented on #19
The bug where the fields don't move is fixed.

The bug when starting from a new page is not fixed. Starting from a blank page, if the first part has fields, the rest get them too.

[2015-08-05 21:33] jtsternberg commented on #19
Ok, that one should be good too. Was being too aggressive w/ my jquery object caching.

[2015-08-06 11:28] lmartins commented on #16
Hi again Chris. Is there a technical reason for WDS requiring the parts to have a prefix such as `part-`?
The reason im asking this is because im failing to load those parts using the regular `get_template_part` as they expect a specific structure to those file names.

[2015-08-06 11:43] lmartins commented on #21
I think this might be the reason for another issue im facing.

I have a custom post type (events) which has the corresponding archive file `archive-event.php`. In there im trying to load a named layout:

[code]

Despite this website having a named layout with such name, nothing gets outputted with the code above.

If you remember if that crazy person using parent/child themes quite extensively, so

[2015-08-06 13:58] jazzsequence commented on #21
The layout name has no connection to the template part name. Not seeing what template parts are saved in the `events-layout` layout, I could only guess at a reason why the template is not loading for you. Also, this fix has not been merged into master yet, it only exists on the develop branch. But I think you're misunderstanding the recommended way to build and use template parts. (See [Building T

[2015-08-06 14:02] jazzsequence commented on #16
Just that `part-` is a fairly standard and generic prefix. But you can use whatever prefix you want by simply changing the setting on the options page. There's no reason you couldn't use this structure with `get_template_part`, however. If you had a template part here: `parts/part-recent-posts.php` with get_template_part, you'd use this: `get_template_part( 'parts/part', 'recent-posts' )`, so I'm

[2015-08-06 14:03] jazzsequence commented on #16
See also my comment here: https://github.com/WebDevStudios/WDS-Simple-Page-Builder/issues/21#issuecomment-128375139

You might be misunderstanding how to use/build template parts for Page Builder

[2015-08-06 14:06] lmartins commented on #16
Thank you Chris. Yes, I was trying to load the parts as you described on your example. But lets forget about that, I was just looking for a workaround for the named layout not loading.

[2015-08-06 14:16] lmartins commented on #21
Thank you Chris for the detailed explanation.
I've checked out the `develop` branch and it works just fine now. I believe my template parts are pretty self contained but it is good to be aware of what you explain.

Thanks again, cheers.

[2015-08-06 14:16] jazzsequence commented on #21
Most likely, though, your specific template parts that deal with content that assumes a particular post type would never be a template part that is usable by Page Builder unless you're feeding it a specific query before running the Loop.

[2015-08-06 15:46] lmartins commented on #21
Yes, the two cases i've dealt with so far have custom loops passed into them.

[2015-08-06 16:37] jazzsequence commented on #21
:+1:

[2015-08-06 20:40] jtsternberg commented on #19
fyi, the dev on the [template-part-data-fields](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/tree/template-part-data-fields) branch has ceased, and everything is now in the [feature/areas](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/tree/feature/areas) branch.

[2015-08-06 22:14] jazzsequence commented on #19
merged feature/areas into develop.

[2015-08-06 22:14] #19 closed, assigned to briannaorg

[2015-08-06 22:14] jazzsequence commented on #19
thanks @jtsternberg!!!

[2015-08-06 22:31] jtsternberg commented on #19
Woo! ITS ALL HAPPENING

[2015-08-07 16:15] gregrickaby opened #26 "Can only display one (of the same) template parts per page"
If you select the same template part for more than one area, only the first one loads.

[2015-08-07 16:55] jtsternberg commented on #26
Does this not fix it? https://github.com/WebDevStudios/WDS-Simple-Page-Builder/commit/e6a3ffb333cfbac5e581d46f492e3164a7b8fb67

[2015-08-07 19:29] aubreypwd opened #27 "Registering Areas Permanent"
Once you use `register_page_builder_area()` to create an area, it persists.

[2015-08-10 19:14] gregrickaby commented on #27
Just doing some digging, I noticed that area's are defined in the options table...

https://www.dropbox.com/s/owoo3nnvm4gbl0o/Screenshot%202015-08-10%2014.13.59.png?dl=0

[2015-08-11 15:36] dustyf commented on #26
I've put the updated version of develop on our project, @gregrickaby.  Could you try this out again and see if there are still any issues?

[2015-08-11 15:43] gregrickaby commented on #26
Looks like it's fixed (in develop)

[2015-08-11 15:46] gregrickaby opened #28 "When registered areas have a symbol, those symbols appear in the dashboard"
 When using a underscore, `register_page_builder_area( 'after_content' );`

The underscore appears in the dashboard:  https://www.dropbox.com/s/qm35hf890m17826/Screenshot%202015-08-11%2010.45.46.png?dl=0

Maybe we could use something similar to `register_nav_menu()` or `register_sidebar()`

[code]

[2015-08-11 15:55] dustyf commented on #15
On a side note, but related, when loading from a theme maybe we should allow Child Themes to load them too.  get_template_directory returns the parent theme.  We should probably have it so it overrides Child > Parent > Plugin.

[2015-08-11 16:00] dustyf opened #29 "wds_page_builder_get_part_data does not get meta values for areas"
wds_page_builder_get_part_data() only looks in the meta key '_wds_builder_template' but when you add parts to areas, it puts that meta under a key with the area appended like '_wds_builder_footer_template'.

So, this does not return the proper meta data from fields within declared areas for the page builder, only within the main area.

[2015-08-11 16:06] dustyf opened #30 "Add ability to limit parts to only be used in a certain area"
This came up on our call this morning. We thought it would be valuable to only allow a builder part to be used within a certain area.  Some parts may not make sense in another area or could break another area unless front-end devs put in a lot of extra work to ensure design compatibility.  It would be best to not give an option to place parts in areas if we know they will break the area or should

[2015-08-11 16:38] dustyf opened #31 "In wds_page_builder_get_this_part_data( $meta_key ) the get_part method returns an empty value"
This is supposed to detect the part which we are using to get the data.  However, it is returning an empty value and not getting set.  I've fallen back to using wds_page_builder_get_part_data and passing in the part slug

[2015-08-11 18:05] dustyf commented on #28
The difference is that the areas are stored to the options table.  I guess we'd have to see if there is a reason that it needs to be saved as an option and not registered in the globals like WP does it with register_nav_menu.  I like this proposed method as it would also jive along with what WordPress does and give a more flexible way to name areas.

[2015-08-11 19:55] gregrickaby commented on #28
@dustyf Right, and that's causing it's own set of issues: https://github.com/WebDevStudios/WDS-Simple-Page-Builder/issues/27

[2015-08-11 21:16] gregrickaby commented on #30
Love @dustyf's suggestion :+1:

[2015-08-12 13:40] gregrickaby opened #32 "Ability to drag-n-drop parts from one area to another"
Ran into this yesterday...I built a part using the new fields functionality. It took a while because of all the images and text I had to input. When I was done, I realized I had it in the wrong area and had to start all over. :sob:

[2015-08-12 15:42] dustyf opened #33 "Parts index not being set properly, causing meta values not being returned"
https://github.com/WebDevStudios/WDS-Simple-Page-Builder/blob/develop/inc/template-tags.php#L518

The part index in here is always returning zero when we are trying to get values for fields in template parts.  This is not getting iterated or set when looping through builder parts, so the proper meta values are not being returned.

[2015-08-13 15:41] aubreypwd opened #34 "Default Templates support for Areas"
Right now I can't setup a default template and configure what parts are in what areas by default, so I'm having to configure on a per-post basis.

https://cloudup.com/c2GNxJ6lCAV+

[2015-08-13 16:29] jazzsequence commented on #33
merged into **develop**

thanks @dustyf

[2015-08-13 16:29] #33 closed, assigned to dustyf

[2015-08-13 16:30] jazzsequence commented on #31
merged into **develop**

thanks @dustyf

[2015-08-13 16:30] #31 closed, assigned to dustyf

[2015-08-13 16:33] jazzsequence commented on #29
this is fixed in **develop**

thanks @dustyf

[2015-08-13 16:33] #29 closed, assigned to nobody

[2015-08-13 16:34] #26 closed, assigned to nobody

[2015-08-13 18:04] briannaorg opened #35 "Unable to display data from field type "file""
Using the field type "file" in a field array prevents any page builder parts from displaying on the front end.
Data for a meta box using this field type successfully saves, displays in the admin, but doesn't display on the front end and prevents all other page parts from displaying.

[2015-08-14 19:54] aubreypwd opened #36 "Undefined index: template_group"
[code]

Still see this error message when I have not selected a part in an area yet and view the page.

[2015-08-15 00:47] jazzsequence commented on #35
I think this is fixed now because @gregrickaby just did this on a project today. It's possible the fix wasn't pushed to Github though... @dustyf do you have any thoughts/ideas?

[2015-08-15 00:48] jazzsequence opened #37 "When using areas, multiple instances of the same part display"
This is related to the field data stuff that @dusty was working on because there was a solution for this problem built in a while ago that's no longer working.

[2015-08-17 17:03] jazzsequence commented on #3
Related to this CMB2 issue https://github.com/WebDevStudios/CMB2/issues/312

[2015-08-20 17:27] jazzsequence commented on #30
just documenting here the proposed part header:

[code]

**Part Name** would be used as the display name in the dropdown, if it exists
**Description** could be used if that part was selected/saved as the description for that CMB2 field
**Areas** would be the specific Page Builder Areas that the part can be included and would restrict the part to only display in those dropdowns

[2015-08-24 16:51] dustyf commented on #27
Should be fixed in branch feature/refactor-2.  This will be merged to develop after more testing.

[2015-08-24 16:51] dustyf commented on #28
Should be fixed in branch feature/refactor-2.  This will be merged to develop after more testing.

[2015-08-24 16:51] dustyf commented on #30
Should be fixed in branch feature/refactor-2.  This will be merged to develop after more testing.

[2015-08-24 16:55] dustyf commented on #35
I believe this is now fixed as well,  With the new feature/refactor-2 branch Brianna reported her fields as working.

[2015-08-24 16:59] briannaorg commented on #35
Yes, the version on refactor-2 branch works with the file fieldtype. Woo!

[2015-09-02 21:21] blobaugh opened #40 "Check to see if a part/template has been loaded"
We should add in some utility functions that will return a boolean if part/template has been loaded.

Something like?

[code]

[2015-09-03 21:19] jazzsequence commented on #30
I'm still seeing template parts that are assigned to a specific area show up in the dropdowns for other areas.

[2015-09-03 22:09] jazzsequence opened #41 "New default area layouts needs defaults per post type"
![options_ _nps__common_learning_portal_ _wordpress](https://cloud.githubusercontent.com/assets/991511/9672235/039e0f60-5256-11e5-91c2-d81f12c8e03d.png)

We need to be able to set default layouts for each area per post type. I think this should probably be handled on the new layout post type rather than on an options page. This wouldn't work if you wanted _xyz_ layout for the Hero for _Car_ posts

[2015-09-03 22:53] dustyf commented on #30
Did you use "Areas" like shown above or "Area"? I used Area for the header.

[2015-09-04 01:15] jazzsequence commented on #30
Yeah, I've been using Areas. That's probably it.

[2015-09-21 21:59] modemlooper commented on #40
added https://github.com/WebDevStudios/WDS-Simple-Page-Builder/commit/3e70d2c8435ad4d89f431c33006caa50669df1b0#diff-5915276465e785d5f7897d71685fca5fR517

[2015-09-22 13:57] #35 closed, assigned to nobody

[2015-09-24 18:32] jazzsequence commented on #41
Added a metabox to the new layout post type so the layout can be set as a default for a particular post type. If a post type default layout is set, you can set the area that the layout becomes the default in for that post type.

![add_new_layout_ _roadkill_ _wordpress](https://cloud.githubusercontent.com/assets/991511/10082718/59e852fa-62b8-11e5-952b-a851edec790a.png)

[2015-09-25 20:11] efuller opened #42 "Color picker and radio (inline) losing values when changing template position"
The 2 fields field types in question are the color picker and the radio (inline).

When changing the order of templates, the fields are not keeping their values.

(gif)
![pagebuilderissue-fieldsnotsavingonmove](https://cloud.githubusercontent.com/assets/4174472/10111521/9c997ddc-63a2-11e5-9b28-70f836952474.gif)

[2015-09-25 20:20] jazzsequence commented on #42
@jtsternberg ping ^^

[2015-09-25 20:21] jazzsequence commented on #42
to add more detail, it's not all fields that lose their values. in the example above, it's just the color picker and the radio buttons.

[2015-09-30 17:57] gregrickaby opened #43 "Ability to disable post editor and other metaboxes when "Page Builder Only" page template is used"
When we use the "Page Builder Only" page template, we don't need to have the post editor metabox on the screen. It's confusing and creates clutter.

If we're going to disable that, let's look into disabling other metaboxes too (Yoast, Featured Image, Comments, etc... )

(Featured image is great, but I'd rather a client add an image via Page Builder field, than try to explain why they need use a on

[2015-09-30 17:59] modemlooper commented on #43
can do it

[2015-09-30 18:01] gregrickaby commented on #43
Maybe we can follow what register_post_type() does?

[code]

[2015-09-30 18:16] blobaugh opened #44 "Show/hide areas per page"
It came up in f2s conversation that it would be nice to not display certain areas on all pages. For instance, a homepage area should only show on the homepage edit screen and maybe not other areas, whereas the other areas may need to display on all edit screens except the homepage.

Maybe we could add 2 new lines in the header for including and excluding edit pages?

Rough idea

[code]

[2015-09-30 18:19] colorful-tones commented on #44
+1

[2015-09-30 20:53] blobaugh commented on #43
Should we really remove non-core metaboxes such at Yoast? Those are probably fine to leave as they are purposefully added when installing plugins

[2015-09-30 21:44] gregrickaby commented on #43
@blobaugh Maybe we can set Yoast priority to "low" so it goes below our Page Builder metabox? I feel like we do this on every project anyway...

[2015-09-30 22:02] jtsternberg commented on #43
I just did this on a project today. It requires setting hookup to false and hooking in manually (and then remove/add_action-ing to change the hook priority). Agree with Ben, shouldn't remove all.

[2015-10-01 02:25] jtsternberg commented on #43
Like this: http://b.ustin.co/pz5C

[2015-10-01 13:50] modemlooper commented on #43
here's how you do it per custom page template https://gist.github.com/modemlooper/fe83273ce5458ae5adfe

is the page builder template a wp page template or a SPB template part?

[2015-10-01 14:00] modemlooper opened #45 "Add a drag and drop template part, to create layouts with template parts"
The idea is to have a template part and when this is chosen have a custom cmb field show that is a drag and drop for template parts specific to this draggable area. Like if it was a 2 or 3 column layout and give a user ability to drag between columns. Sorta like WP widgets but with better UI.

I'm going to do this as a plugin and not in core as core should not be bloated with this end user UX/UI

[2015-10-01 14:59] jazzsequence commented on #43
I like this idea a lot, and I think it should be something that gets added to Page Builder. We need to be careful not to assume it's an always-on setting though, e.g. if you're using a "page builder only" template, that doesn't _necessarily_ mean you will _always_ want to hide the post box and various meta boxes. It needs to be something that can be toggled -- ideally in the code rather than an ac

[2015-10-01 15:03] jazzsequence commented on #44
I'm thinking the additions to the part header would be more like:

[code]

Comma separated list listing the pages we want them on. Possibly if we wanted to _exclude_ certain pages and add the part to all _other_ pages, we could do something like this:

[code]

I would rather add only a single new line and be able to handle either possibility from there then have to add _two_ new lines to include a

[2015-10-01 15:06] jazzsequence commented on #45
Interested to see what this looks like. Good call building it as a separate plugin. We can always bundle it in later if we decide it should go into the core plugin.

[2015-10-01 15:24] modemlooper commented on #44
I like.

[2015-10-01 17:51] blobaugh commented on #43
Ladybugs are cool

[2015-10-01 18:33] colorful-tones commented on #44
totes makes sense

[2015-10-01 19:09] modemlooper commented on #43
Disney world employees millions of Ladybugs as they are a natural pesticide, eat lots of mosquitos

[2015-10-01 23:03] jazzsequence commented on #43
...I think you guys are missing the point.
ಠ_ಠ

[2015-10-02 13:58] blobaugh commented on #44
Sure, makes sense to me

[2015-10-03 01:12] jazzsequence opened #47 "Backwards compatibility for do_action( 'wds_simple_page_builder' )"
We have sites that are based around the action and it's in the documentation. Even if we're no longer recommending using this action, we should still make sure it works to some degree.

Was working with @JayWood today and we were able to replace existing calls to `do_action( 'wds_simple_page_builder' )` with `wds_page_builder_area()` -- I think we could just change what function the action hooks t

[2015-10-03 01:15] jazzsequence commented on #34
duplicate of #41

[2015-10-03 01:15] #34 closed, assigned to nobody

[2015-10-03 01:17] jazzsequence commented on #45
@modemlooper would what you're thinking accomplish #32?

[2015-10-03 01:18] jazzsequence commented on #28
Underscores in area names still displaying for areas in admin. This is an easy fix, just need to do it.

[2015-10-03 01:19] jazzsequence commented on #22
This needs documentation but is now possible in `refactor-2` (and soon to be merged into `develop`. Closing this. Props @modemlooper for building it.

[2015-10-03 01:19] #22 closed, assigned to nobody

[2015-10-03 01:20] jazzsequence commented on #27
Yep, this is fixed in `refactor-2` and will be merged into `develop` soon. Props @dustyf.

[2015-10-03 01:20] #27 closed, assigned to nobody

[2015-10-03 01:21] jazzsequence commented on #15
This is now working in `refactor-2` and will soon be added to `develop`. Props @modemlooper.

[2015-10-03 01:21] #15 closed, assigned to nobody

[2015-10-03 01:35] dustyf commented on #28
You should just need to pass in the name as an argument when registering the area. Then it will display that instead with refactor-2

[2015-10-03 02:09] jazzsequence commented on #28
oh that's how it works. well if that's not done we can still just strip out
underscores and hyphens on output.

On Fri, Oct 2, 2015 at 7:35 PM Dustin Filippini notifications@github.com
wrote:

me@chrisreynolds.io

[2015-10-03 02:44] dustyf commented on #28
It's done.

[2015-10-04 15:13] modemlooper commented on #45
It might fix, think we may need a move to area button on the cmb field

[2015-10-05 13:49] JayWood commented on #42
I'm in the process of merging refactor-2 into develop.  Once that's done I'll debug this for you.  I had a look at the JS last week and this seems purely JS related ( obviously ) but I think I know what to do.

[2015-10-05 19:43] jtsternberg opened #48 "Allow parts to be used multiple times"
This is key to making #19 invaluable. Allowing a the same template part to used multiple times, but w/ different configurations will allow things like custom loops for different categories, etc.

This broke in this commit: https://github.com/WebDevStudios/WDS-Simple-Page-Builder/commit/401fcf8d9f8ecd3b9ebde172fd588331f71aa1d1

[2015-10-06 15:19] JayWood commented on #42
We found the issue with the color picker, that was actually an issue with CMB2 and was fixed in WebDevStudios/CMB2@e32d87f17d726e197aefd865d86cce6beee4dfd9 thanks to @jtsternberg I was close though!

Also, queuing up the latest version of CMB2 seems to have fixed the radio issue, which I'll test further.

[2015-10-06 15:58] #42 closed, assigned to JayWood

[2015-10-07 16:48] JayWood commented on #48
Fixed in devleop branch at 33e563fe107d4bb116e027fbfa9b916acc2fdd18

[2015-10-09 16:27] blobaugh commented on #18
@colorful-tones in pull request #51 I set it up so the saved layouts parts are always collapsed on page load. This should save a good amount of screen real estate. Unfortunately cmb does not have a way to remember the collapsed/expanded states of the individual fields.

Is this more like what you are wanting or is it now hiding too much information?

[2015-10-09 16:31] jazzsequence commented on #18
@blobaugh do the parts expand if you've expanded them previously (e.g. does it "remember" if you've opened them, or does it always default to closed)?

[2015-10-09 17:02] blobaugh commented on #18
It does not remember. They will always be closed

[2015-10-09 20:50] #48 closed, assigned to nobody

[2015-10-12 15:49] #10 closed, assigned to nobody

[2015-10-12 15:51] jazzsequence commented on #18
Would like to hear from @colorful-tones whether always closed works. I would prefer it to remember open/closed state so it behaves like core WordPress meta boxes.

[2015-10-12 15:53] blobaugh commented on #18
The metabox itself does behave that way. It is the stuff inside the metabox that is different. If we make the groups remember their expanded state that maybe be something we should contribute back into CMB2 itself also.

[2015-10-12 15:54] jazzsequence commented on #37
This is now working. Thanks @JayWood.

[2015-10-12 15:54] #37 closed, assigned to nobody

[2015-10-12 16:24] colorful-tones commented on #18
Hmm, that is a hard one. If collapse/expand can not persist, and we're opting to close on initial load it may confuse users if they don't see the options available within the area. They might not even think to expand even. But, I also like the idea of having simple, cleaner UI on initial load.

I'm on the fence.

[2015-10-12 16:30] blobaugh commented on #18
Maybe on initial load the fields can be closed and after the page is rendered it can retrieve a cookie of how the user had the groups expanded/collapsed last time and do it.
That could be a decent compromise and would not require any coordination with CMB2

[2015-10-12 17:21] jtsternberg commented on #18
This would be a good (and not too difficult) addition to CMB2.

[2015-10-12 17:35] jazzsequence commented on #18
@blobaugh IIRC the way WordPress core does it is by saving a setting in usermeta for the toggle states of the different meta boxes. They might use a cookie as well, not sure.

Agree with @jtsternberg this could/should go into CMB2 and therefore get rolled into Page Builder with a CMB2 update.

Closing this and created a new ticket in CMB2: https://github.com/WebDevStudios/CMB2/issues/490

[2015-10-12 17:35] #18 closed, assigned to nobody

[2015-10-12 18:03] blobaugh commented on #18
FYI this is not the main metabox, but rather the sub areas inside the metabox

[2015-10-15 18:39] simonwebdesign opened #54 "Performance Issues on Load"
Just wanted to bring up an issue I have been experiencing with PB. So considering the usage I am going to be more general here and have a BC task with details. Suffice to say that you can PM for further details.

So the basic issue is the more complex a page with parts the more performance degradation experienced both on load times, but also equally so when saving.

Let's give this some more TLC a

[2015-10-15 18:45] jazzsequence commented on #54
To clarify and give a bit more info, issues are in the admin and seem to be related to multiple page builder parts that have custom fields associated with them. Combine a bunch of pagebuilder parts added to a page with a lot of parts that have field data (including things like wysiwyg and color picker fields) and you get script timeout warnings when loading the page in the admin.

I _suspect_ the

[2015-10-23 15:42] dustyf opened #55 "Remove unused method in WDS_Page_Builder_Layouts"
https://github.com/WebDevStudios/WDS-Simple-Page-Builder/blob/develop/inc/class-wds-page-builder-layouts.php#L18

Method was added when I was trying to port over the old layouts method and never removed when I changed layouts to a CPT.

[2015-10-23 19:08] jazzsequence opened #56 "Add support for container and class to wds_page_builder_areas"
Since `wds_page_builder_load_parts` is deprecated, let's add support for changing the container type and wrapper class.

[2015-11-04 21:26] jazzsequence opened #57 "Restrict template parts by post type"
similar to #30 -- instead of restricting template parts to specific areas, restrict them to specific post types, so a user is seeing template parts that are relevant to the post type they are editing.

[2015-11-06 22:10] jazzsequence opened #58 "multiple part checks in wds_page_builder_after_load_parts sometimes leads to all the js loading"
Weird issue that didn't have time to debug fully...adding a second parts check to a function hooked to `wds_page_builder_after_load_parts` caused all the js to load on a particular page, including page content from a completely different page.

source:

[code]

[2015-11-06 22:17] jazzsequence commented on #58
This was actually resolved by simply replacing the second `if` statement with an `elseif` instead.

[code]

[2015-11-06 22:17] #58 closed, assigned to nobody

[2015-11-10 17:10] jazzsequence opened #59 "Saved layouts custom columns"
Let's add some custom columns to the saved layouts page:
- areas
- metabox hidden
- post types

[2015-11-16 16:43] jazzsequence opened #60 "Page Builder menu should link to options page"
Change the page builder menu top level link to link to the options page instead of the saved layouts page.

[2016-03-18 08:23] marsshall opened #61 "Since update to 1.6 php permission denied"
Hi, since I update to your 1.6 develop version, I have trouble to work my wds-simple page builder.

Throw this error in my single template: http://i.imgur.com/7LJJ2IS.png

Calling page builder area with: <?php wds_page_builder_area('review'); ?>

Using this page builder options: http://i.imgur.com/7pHCzsG.png

Thank in advance.

[2016-03-21 14:51] jazzsequence commented on #61
@marsshall That looks like a permissions issue. I would check to make sure the /parts directory in your theme exists and that your server (I'm guessing local dev environment on Windows?) has permission to access the files in that directory.

[2016-04-05 17:16] ajgagnon opened #62 "A way to create saved layouts without need for database"
Just wondering since the register_page_builder_layout function is deprecated, is there any other way to create default layouts without creating custom post types? Ideally, default layouts would come loaded with the theme and not be dependent on each site's database.

Thanks again for an awesome plugin!

[2016-04-11 13:24] rianbotha commented on #61
I'm having the same issue (local dev on Windows).
If I just manually include the template part using require() it works, but using wds_page_builder_area() I get
`Warning: require(D:\xampp\htdocs\site\wp-content\themes\theme\parts): failed to open stream: Permission denied in D:\xampp\htdocs\wordpress\wp-includes\template.php on line 564

Fatal error: require(): Failed opening required 'D:\xampp\ht

[2016-04-11 14:18] jazzsequence commented on #62
It's deprecated for now, but we could try to bring it back at a later date. Basically, `register_page_builder_layout` would need to check if a layout CPT with that name exists and create your layout CPT for you if it doesn't using `wp_insert_post` and then add the post meta for the template parts. If you want to try submitting a PR for the purpose, I'd be happy to give it a look. :)

[2016-04-11 14:18] #62 closed, assigned to nobody

[2016-04-11 15:33] rianbotha commented on #61
It would appear that the issue relates to the path for the template part being wrapped in esc_url(), which then returns a blank file path. Line 419 in class-wds-page-builder-options.php

[2016-05-25 12:46] stompweb opened #63 "Group Fields"
I've setup a custom field for one of the templates like so:

[code]

I took that from the documentation so it was quite simple, however I'm having issues creating a group field as the data is a little different from CMB2.

Is this something that could be added to the Wiki please?

[2016-06-06 22:15] #61 closed, assigned to nobody

[2016-06-06 22:16] jazzsequence commented on #61
@rianbotha @marsshall this should be fixed now. just changed the sanitization function.

[2016-06-06 22:20] jazzsequence commented on #63
Hi @stompweb
I have a feeling your question might have already been answered in the CMB2 issue tracker (? maybe?) but I'll answer it here anyway...

If I'm understanding your implementation correctly, you can't group fields in a page builder metabox because it's already a group and you can't nest groups. Let me know if I'm misunderstanding your question.

[2016-06-07 08:17] stompweb commented on #63
It was answered on Twitter, @jazzsequence thanks for following up.

[2016-06-07 08:17] #63 closed, assigned to nobody

[2016-08-11 02:21] fauzie opened #64 "Add Saved Layout as Builder Part"
Hi,

I just tried to append saved layout to builder, its looks like: http://prntscr.com/c481j1
Select dropdown populated from query post type `wds_pb_layouts`
In template part i just add `get_saved_page_builder_layout_by_slug( $select_layout )`
But the function returned error, undefined variable $area.
I think it was on [class-wds-page-builder-areas.php#L131](https://github.com/WebDevStudios/WDS-S

[2016-08-14 13:13] fujianto opened #65 "Call to undefined function wds_page_builder_area()"
Hi, I'm trying to follow the documentation using `wds_page_builder_area()` but it didn't work and causing error Call to undefined function wds_page_builder_area(). It's working after I use `<?php do_action( 'wds_page_builder_load_parts' ); ?>` insted of `wds_page_builder_area()`. Is the documentation outdated? I'm using version 1.5.

[2016-08-14 14:29] fujianto commented on #65
I'm sorry, I think I download the old branch by mistake. The develop branch is working as expected :)

[2016-08-14 14:29] #65 closed, assigned to nobody

[2016-08-15 11:06] goodbeardigi opened #66 "Meta fields don't show"
Hi,

Really struggling to get the custom meta fields to show.

Here's my code:
`function ad_hero_summary_fields( $fields ) {
    //var_dump($fields);
    //echo "Line 66";
    $new_fields = array(
        array(
            'name'    => esc_html__( 'Custom Title', 'textdomain' ),
            'id'      => 'wds_custom_title',
            'type'    => 'text_medium',
        ),
        array(

[2016-08-22 05:30] fauzie commented on #66
prior to v1.6 `part-` on filename is not ignored.
so your filter must be:
`wds_page_builder_fields_part-hero-summaries`

[2016-08-22 08:22] goodbeardigi commented on #66
That doesn't work, i'm getting things var dump with the code I posted before, so it the filter is getting called. It's just not adding the fields.

I'm using v1.6.

[2016-08-24 23:51] fauzie commented on #66
Try to add filter inside `spb_init` hook action, This one is worked from me.

[code]

[2016-08-25 02:03] fauzie commented on #57
specific area + specific post type

[2016-08-30 09:43] goodbeardigi commented on #66
I tried that, still no luck...

Is it anything to do with CMB? I do have CMB in my project and it is working, but perhaps I need to do something else with it?

[2016-09-15 15:08] goodbeardigi commented on #66
It turns out the fields are actually being added, but the JS isn't working to display them.

It's an issue with loading the JS files on my localhost. It's trying to load it from the phsyical location on my computer, instead of the server location. I use MAMP pro, is there a setting I can change to fix this?

[2016-09-19 09:30] goodbeardigi opened #67 "Repeatable Groups"
Is it possible to have repeatable groups of meta fields? If not is it something that could be added?

[2016-12-15 12:07] palicko opened #68 "Plugin is not compatible with WP 4.7"
Plugin returns multiple errors
`Warning: ksort() expects parameter 1 to be array, object given in /wp-content/plugins/WDS-Simple-Page-Builder/inc/template-tags.php on line 283`
`Warning: array_merge() expects at least 1 parameter, 0 given in /wp-content/plugins/WDS-Simple-Page-Builder/inc/class-wds-page-builder-options.php on line 375`
`Warning: Invalid argument supplied for foreach() in /wp-conte

[2016-12-21 15:53] rianbotha commented on #68
I've just submitted a pull request to fix this issue.
You can grab the fix from my fork in the meantime.
\inc\template-tags.php was the only file changed.

[2017-03-07 05:04] jasperf commented on #68
Would be great to have this pull merged.

[2017-03-07 05:08] jasperf commented on #67
It would be but I understood CMB2 does not support that and that is on what Simple Page Builder is working with.

[2017-03-07 16:11] dankocrama commented on #67
It would be really nice if we could use repeatable groups in the pagebuilder 👍

[2017-05-26 17:35] #68 closed, assigned to nobody

[2017-06-21 13:54] PavelK27 opened #70 "PHP notice on options save"
Hi,

I was doing an initial configuration of the plugin via ["User's Manual"](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Using-the-Page-Builder#for-users) and got a PHP notice on the saving process:
`PHP Notice:  Undefined index: parts_saved_layouts in /srv/www/wordpress-default/public_html/wp-content/plugins/WDS-Simple-Page-Builder/inc/class-wds-page-builder-options.php on line

[2017-06-21 15:00] PavelK27 opened #71 "Documentation inconsistency or incorrect usage of spb_locate_template()"
Hi,

I'm trying to add custom templates in my theme using version 1.6 of the plugin. As per [Page Builder Template Stack](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Page-Builder-Template-Stack) manual, I'm expecting the plugin to use "/pagebuilder" folder inside of my theme, but it uses "/parts" folder instead. I found that out by debugging `spb_get_template_stack()` call from `

[2017-06-21 15:02] PavelK27 commented on #71
Also, it would be a good idea to mention files location for templates in [Building Template Parts for Page Builder](https://github.com/WebDevStudios/WDS-Simple-Page-Builder/wiki/Building-Template-Parts-for-Page-Builder) as it's an important part in templates creation process.

[2017-07-09 18:48] technoplastique opened #73 "after_row Glitch"
I'm building a fairly extensive theme with a lot of page builder parts. When I added 'after_row' (from the CMB2 examples) to a custom meta field for a template part it caused a glitch. On the page where I was testing the page builder (default area) all of the in-use template parts nested into each other instead of being in a row like normal, even without using the template part that included 'afte

[2017-11-28 14:44] swinggraphics opened #74 "Remove Default Page Builder Area"
It makes sense to have a default if no areas are registered, but the default area should not exist if custom areas are defined.

[2017-11-28 14:47] swinggraphics opened #75 "parts_prefix is ignored"
The Template options is populated with all files in parts_dir, even though only one of them has the prefix specified in parts_prefix. That one part appears in the list both as "Pb_part Search Bar" and "Search Bar". There is also a "Posts" template part that is not defined anywhere.

[2017-12-22 12:23] koskinenaa opened #76 "Hide page builder on specific page templates"
Hi,

This might be a dumb question, but I just can't figure out how to solve this.

I have couple special page templates and I'd like to use the default WP editor with them and not show the page builder. I already managed to limit the visibility of the default editor to these special page templates, but I can't get rid of the page builder metabox on these templates.

The code below I came up with

[2017-12-22 12:51] koskinenaa commented on #54
Hi,

The performance issues are something I've noticed too. Especially when there are multiple builder parts with multiple custom fields.

Is this issue (or the builder altogether) something WDS people are still working on or has the project been abandoned?

-Antti

[2018-01-16 05:05] shocknawe opened #77 "Section Move Bug"
When attempting to move the section, the JS (cmb2-simple-page-builder/inc/cmb2/js/cmb2.min.js?ver=2.1.2) throws an error:

  cmb2.min.js?ver=2.1.2:1 Uncaught TypeError: Cannot read property '$' of undefined
    at HTMLInputElement.<anonymous> (cmb2.min.js?ver=2.1.2:1)
    at Function.each (load-scripts.php?c=1&load[]=jquery-core,jquery-migrate,utils,jquery-ui-core,jquery-ui-widget,jquery-ui-positi